<div class="container" id="gmu">
    <div class="page-header">
      <h1 id="timeline">Academics</h1>
    </div>
    <p-timeline [value]="academics" layout="vertical" align="left">
      <ng-template pTemplate="marker" let-academic>
        <i class="pi pi-book"></i>  <!-- Same icon for all academic entries -->
      </ng-template>
      <ng-template pTemplate="content" let-academic>
        <p-card class="academic-card">
          <p-header>
            <h3 class="academic-title">{{ academic.title }}</h3>
            <p class="academic-meta">{{ academic.date }}</p>
          </p-header>
          <h4>{{ academic.degree }}</h4>
        </p-card>
      </ng-template>
    </p-timeline>
  </div>
  