<div class="row justify-content-center align-items-center mt-5">
    <div class="col-lg-3 text-center">
      <img src="{{imageUrls}}" height="350px" class="img-fluid rounded-circle">
    </div>
    <div class="col-lg-9">
      <div class="jumbotron">
        <h1>Sahiti Chandramouli</h1>
        <p id="alignText">
          I am a passionate Computer Science graduate with a strong background in software development and problem-solving.
        </p>
        <p>
          My last professional experience was at <b>Microsoft</b>, where I worked on impactful projects as a Software Engineer.
        </p>
        <p>
          I am actively looking for new opportunities where I can contribute to innovative projects and grow in a dynamic, fast-paced environment.
        </p>
        <p>
          Over the years, I have honed my skills in programming and have a keen interest in tackling challenging coding problems. I thrive in collaborative environments where I can learn and contribute to meaningful work.
        </p>
        <p>
          I am excited to join a company that values creativity and innovation, allowing me to apply my expertise while continuously learning and improving.
        </p>
        <p>
          This portfolio was crafted with <b>Angular 17</b> and a lot of coffee!
        </p>
      </div>
    </div>
  </div>
  