<div id="connect" class="jumbotron text-center">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <a href="https://github.com/schandr578" target="_blank">
        <i class="bi bi-github" style="font-size: 150px;"></i>  <!-- Bootstrap GitHub Icon -->
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://www.linkedin.com/in/schandr" target="_blank">
        <i class="bi bi-linkedin" style="font-size: 150px;"></i>  <!-- Bootstrap LinkedIn Icon -->
      </a>
    </div>
  </div>
  <h2>Sahiti Chandramouli</h2>
  <h3>sahitichandramouli07&#64;gmail.com</h3>
</div>
