<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/about" routerLinkActive="active">Portfolio</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="navbarNav"
      aria-expanded="!isCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/work" routerLinkActive="active">WORK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skills" routerLinkActive="active">SKILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/academics" routerLinkActive="active">ACADEMICS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/connect" routerLinkActive="active">
            <i class="fas fa-phone-alt"></i> CONTACT
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
